.bash_history
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.hp
*.o
*.prof
*.swp
*~
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
cabal-dev
cabal.sandbox.config
dist/
dist-newstyle/
tarballs/

.DS_Store
.vscode
*.pgdump*
result

flyway.conf
.env
jwk.json

logs/
.hie
